:root {
  --lightblue: #a3e1e6;
  --darkblue: #3a434d; 
}

/* Universal Selectors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Element Selectors */
header {
  background-color: var(--darkblue);
  height: 90px;
}

header h1 {
  position: absolute;
  top: 15px;
  font-size: 50px;
  color: var(--darkblue);
  padding-left: 80px;
  background-color: var(--lightblue);
}

header nav {
  text-align: right;
  padding: 15px 85px 15px 0px;
}

header li {
  display: inline-flex;
  font-size: 30px;
  color: var(--lightblue);
  padding: 10px;
  margin-left: 15px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 4px;
}

header li a {
  color: var(--lightblue);
}

header li a:hover {
  color: white;
}

/* Class Selectors */
.picture {
  background-image: url(../images/picture.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 245px;
  width: auto;
}

.box-for-picture {
  position: absolute;
  right: 90px;
  top: 250px;
  font-size: 3.3rem;
  background-color: var(--lightblue);
  color: var(--darkblue);
}