:root {
  --lightblue: #a3e1e6;
  --darkblue: #3a434d; 
}

/* Universal Selectors */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Element Selectors */
header {
  display: flex;
  background-color: var(--darkblue);
  height: 96px;
  padding: 20px;
}

header h1 {
  font-size: 50px;
  color: var(--darkblue);
  background-color: var(--lightblue);
}

header nav ul {
  display: flex;
  justify-content: end;
}

nav ul li {
  font-size: 30px;
  color: var(--lightblue);
  padding: 10px;
  margin-left: 20px;
  list-style-type: none;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 4px;
}

nav ul li a {
  color: var(--lightblue);
}

nav ul li a:hover {
  color: white;
}

li a {
  color: var(--darkblue);
  text-decoration: none;
}

li a:hover {
  color: #5151ff;
}

/* Class Selectors */
.section {
  display: flex;
  margin: 0 0 30px 0;
}

.picture1 img {
  position: relative;
  height: 245px;
  width: 100%;
}

.box-for-picture {
  position: absolute;
  right: 90px;
  top: 250px;
  font-size: 52px;
  border-radius: 20px;
  background-color: var(--lightblue);
  color: var(--darkblue);
}

.item-1 {
  flex: 1 0 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border-right: 6px solid var(--darkblue);
  font-size: 30px;
  color: var(--darkblue);
}

.item-2 {
  flex: 1 0 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  margin: 0 0 0 50px;
  font-size: 23px;
  line-height: 35px;
  color: var(--darkblue);
}

.work-pictures h2 {
  display: inline-flex;
  background-color: var(--lightblue);
}

.work-pictures p {
  display: inline-flex;
}

.work-pictures a {
  width: 20%;
}

.work-pictures a img {
  display: flex;
  width: 80%;
  border: 5px solid var(--lightblue);
}

#img2 {
  width: 65%;
}

.img2:hover,
.work-pictures a img:hover {
  filter: saturate(150%) blur(2px);
}

.contact-info ul {
  flex: 1 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: underline;
  list-style-type: none;
  text-underline-position: under;
  text-decoration-thickness: 4px;
}

@media screen and (max-width: 992px) {
  .section {
    flex-direction: column;
  }

  .item-1 {
    border: none;
  }

  .item-2 {
    margin: auto;
  }

  .contact-info ul {
    flex-direction: column;
    align-items: center;
  }

  .contact-info li {
    padding: 10px 0 10px 0;
  }
}

@media screen and (max-width: 835px) {
 .work-pictures img {
  flex: 1 0 90%;
 }

 .item-1 {
  margin: auto;
 }

 .item-2 {
  margin: auto;
 }

 .box-for-picture {
  font-size: 35px;
 }

 header h1 {
  position: sticky;
  width: 20%;
 }
}